<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Return Book - LMS</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header style="background: #2c3e50; color: white; padding: 15px; text-align: center;">
    <h2>Return Book</h2>
    <nav>
      <a href="/librarian">Back to Portal</a>
    </nav>
  </header>
  <main>
    <form id="returnBookForm" >
      <input type="text" id="returnBookId" placeholder="Book ID" required>
      <button type="submit" style="background-color: #2c3e50;">Return Book</button>
    </form>
  </main>
  <footer>
    <p>&copy; 2025 Library Management System</p>
  </footer>
  <script type="module" src="/static/js/librarian.js"></script>
</body>
</html>
